@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#c-MekaLine{
	letter-spacing: 15px;
	text-align: center;
	margin-top: 5px;
}

#c-paragraph{
	text-align: center;
}

input[type="submit"]{
	width: 15%;
	height: 30px;
	border: 1px solid;
	background: #74b4c4;
	border-radius: 10px;
	font: 16px;
	color: black;
	font-weight: 700;
	cursor: pointer;
	outline-color: #74b4c4;
}

span{
	word-spacing: -30px;
}