@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.features{
	margin: 70px 0;
}

.p-column{
	flex-basis: 33%;
	min-width: 250px;
	margin-bottom: 80px;
	float: left;
	width: 33.33%;
	transition: transform 0.5s;
}

.p-column img{
	width: 75%;
	margin-left: 55px;
}

.small-container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 17px;
	font-family:'Inconsolata', monospace;
}

h5{
	font-family: 'Inconsolate', monospace;
	margin-left: 5px;
	font-size: 15px;
	margin-bottom: -5px;
	text-align: center;
}

i{
	padding-top: 10px;
	padding-left: 120px;
	margin-bottom: 5px;
}

.white{
	background-color: #e4e6eb;
	width: 75%;
	margin-left: 55px;
}

.whiteP{
	background-color: #e4e6eb;
	width: 100%;
	margin-left: 3px;
}

#peso{
	opacity: 40%;
	text-align: center;
	margin-right: 17px;
}

.text-section{
	text-align: center;
	position: relative;
	line-height: 60px;
	color: #555;
	margin: 0 auto 80px;
}

.text-section:after{
	content: "";
	background: darkturquoise;
	width: 265px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

#featureText{
	color: black;
}


#featureText2{
	text-align: center;
	padding-bottom: 0px;
}

#featureText2{
	position: relative;
	line-height: 60px;
	margin: 0 auto 80px;
}

#featureText2:after{
	content: "";
	background: darkturquoise;
	width: 255px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.p-column2{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	width: 25%;
	margin-right: 0;
	float: left;
	transition: transform 0.5s;
}
.p-column2 img{
	width: 100%;
}

#peso2{
	opacity: 40%;
	text-align: center;
	margin-left: 107px;
	font-size: 11px;
}

.p-column3{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	width: 50%;
	margin-right: 0;
	float: left;
}

.p-column3 img{
	width: 50%;
}

.p-column:hover{
	transform: translateY(-10px);
}

.p-column2:hover{
	transform: translateY(-15px);
}

@media only screen and (max-width: 800px){
	.p-column{
	width: 100%;
	margin: auto;
	float: none;
	display: block;
}

.p-column2{
	width: 100%;
	margin: auto;
	float: none;
	display: block;
	}
h5{
	text-align: center;
	font-size: 19px;
}
h6{
	text-align: center;
	font-size: 19px;
}
i{
	text-align: center;
	font-size: 19px;
}

#peso{
	text-align: center;
	font-size: 19px;
}
#peso2{
	align-content: center;
	font-size: 19px;
}


}